header {
  background-color: burlywood;
  border-bottom: 5px solid black;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.timeline-left {
  float: left;
  max-width:45%;
}

.description {
  text-align: center;
  border-style: inset;
}

.timeline-left {
  border-right: 10px dashed black;
  margin-right: 5px;
  padding-left: 10px;
}

.timeline ul li {
  padding-left: 15px;
}

  
